{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

        <!-- Static -->
        <link href="{% static 'network/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'network/script.js' %}"></script>

        <!-- https://github.com/michalsnik/aos -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <!-- Custom Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body p-3" data-bs-theme="dark">
            <a class="navbar-brand protest" href="{% url "index" %}">Network</a>

            <div class="collapse navbar-collapse" id="navbar">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "profile" user_id=user.id %}"><strong>{{ user.username }}</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "following" %}">Following</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container py-5">{% block body %} {% endblock %}</main>


        <footer class="container py-5">
            <div class="small mb-3 text-center">
                <a href="https://github.com/tomosantos" target="_blank">
                    <span class="p-2 footer text-muted bi bi-github"></span>
                </a>
            </div>

            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                    AOS.init({
                        offset: 400,
                        duration: 1000
                    });
                </script>
        </footer>
    </body>
</html>
